# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output from `go build` or `go run`
*.a
*.o

# Go workspace
bin/

*.mod.tmp

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE/editor settings
.idea/
*.swp
*.swo
*.bak

# Logs and temporary files
*.log
*.tmp
*.cache

# macOS
.DS_Store

# Linux
*~

# Shell history (optional, if accidentally added)
.bash_history
.zsh_history

# GitHub Actions cache folders (optional)
.github/workflows/*.cache/

# other
tmp/
temp/
dist/
vendor/

tmp
.bin
.env.prod